@font-face {
  font-family: Assistant;
  src: url(../../Assistant-Regular.ttf);
}
.nav_main{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  background-color: rgba(27,27,27, 1);
  color: white;
  padding: 15px 0;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: flex-end;
  align-content: stretch;
  font-family: 'Assistant';
}

.nav_box{
  margin-left: 15vh;
}
.social{
  margin-left: 26vh;
}
.left_font{
  margin-right: 10px;
}
.fontawsome{
  margin-left: 15px;
}