body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  outline: none;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* @font-face {
  font-family: "Assistant";
  src: url("../src/assets/fonts/static/Assistant-ExtraLight");
} */
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/RobotoCondensed-Regular.ttf");
}
.menu-header{
  color: #4c4c4c;
  text-decoration: none;
  font-weight: 400;
  transition: all .2s;
  font-family: "Roboto";
}


.menu-header:hover{
  color:  #d7a274;
}
.active{
  color:  #d7a274;
}
.img{
  max-width: 100%; 

}
.linkNews{
  color: #d7a274;

}
.linkNews:hover{
  color: white;
  
}
.LinkPost{
  display: inline-block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Assistant';
    color: #d7a274;
    text-transform: uppercase;
    text-decoration: none;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    z-index: 200;
}

.LinkPost:hover{
color: white;
z-index: 200;
} 
.titleTest{
  margin-top: 30px;
}
.mainLink{
  margin-bottom: 20px;
}
.footer{
  color: white;
  text-decoration: none;
  margin: 0 28px 10px 0;
}
.footer:hover{
  color: #d7a274;
}
.social{
  background-color: black;
  padding: 15px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 40px;
}
.social:hover{
  background-color:  #d7a274;
}

.news{
  margin-bottom: 60px;
}
.cardTitle{
  color: #222;
}
.icon{
  color: white;
}
.textarea{
  width: 84.4%;
  margin-bottom: 5%;
  min-height: 200px;
  border: 1px solid;
  border-color: rgba(0,0,0,.05);
  background: rgba(0,0,0,.03);
  margin-top: 10px;
}
a{
  text-decoration: none;
}
.inputVal{
  margin-left: 27.5%;
  margin-bottom: 2%;
  padding: 12px;
  background: rgba(0, 0, 0, 0.03);
  width: 48%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  height: 30px;
}
.inputContact{
  padding: 12px;
  background: rgba(0, 0, 0, 0.03);
  width: 82%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  height: 30px;
}

label{
  font-size: 16px;
  color: rgb(43, 43, 43);
}
.check{
  margin-left: 27.5%;
}