body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  outline: none;
}
@media (min-width: 160px) and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* @font-face {
  font-family: "Assistant";
  src: url("../src/assets/fonts/static/Assistant-ExtraLight");
} */
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/RobotoCondensed-Regular.ttf");
}
.menu-header{
  color: #4c4c4c;
  text-decoration: none;
  font-weight: 400;
  transition: all .2s;
  font-family: "Roboto";
}


.menu-header:hover{
  color:  #d7a274;
}
.active{
  color:  #d7a274;
}
.img{
  max-width: 100%; 

}
.linkNews{
  color: #d7a274;

}
.linkNews:hover{
  color: white;
  
}
.LinkPost{
  display: inline-block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Assistant';
    color: #d7a274;
    text-transform: uppercase;
    text-decoration: none;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    z-index: 200;
}

.LinkPost:hover{
color: white;
z-index: 200;
} 
.titleTest{
  margin-top: 30px;
}
.mainLink{
  margin-bottom: 60px;
  margin-top: 40px;
}
.footer{
  color: white;
  text-decoration: none;
  margin: 0 40px 10px 0;
}
.footer:hover{
  color: #d7a274;
}
.social{
  background-color: black;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 40px;
}
.social:nth-child(2){
  padding: 12px;
}
.social:nth-child(3),.social:nth-child(4),.social:nth-child(5), .social:last-child{
  padding: 12px 16px;
}
.social:hover{
  background-color:  #d7a274;
}

.news{
  margin-bottom: 60px;
}
.cardTitle{
  color: #222;
}
.icon{
  color: white;
}
.textarea{
  width: 84.4%;
  margin-bottom: 5%;
  min-height: 200px;
  border: 1px solid;
  border-color: rgba(0,0,0,.05);
  background: rgba(0,0,0,.03);
  margin-top: 10px;
}
a, a:hover{
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}
.inputVal{
  margin-left: 27.5%;
  margin-bottom: 2%;
  padding: 12px;
  background: rgba(0, 0, 0, 0.03);
  width: 48%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  .inputVal{
    width: 96%;
    margin-left: 2%;
  }
}
.inputContact{
  padding: 12px;
  background: rgba(0, 0, 0, 0.03);
  width: 84.5%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  height: 50px;
}

label{
  font-size: 16px;
  color: rgb(43, 43, 43);
}
.check{
  margin-left: 27.5%;
}

@media only screen and (max-width: 600px) {
  .check{
  
    margin-left: 2%;
  }
}
.fa-bars {
  display: none;
  color: #222;
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
.fa-bars {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
}
@media only screen and (max-width: 600px) {

.collapsed {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* position: absolute; */
  /* left: 20%; */
  justify-content: space-between;
  /* height: 700px; */
  flex-wrap: wrap;

  overflow: hidden;
  max-height: 0;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}}
@media only screen and (max-width: 600px) {

  .is-expanded {
    overflow: hidden;
    max-height: 200px; /* approximate max height */
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
}

