body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-header{
  color: #4c4c4c;
  text-decoration: none;
  font-weight: 400;
  transition: all .2s;
  font-family: "Roboto";
}


.menu-header:hover{
  color:  #d7a274;
}
.active{
  color:  #d7a274;
}
.img{
  max-width: 100%; 
  /* width: 126px; */
   /* height: 117px;
  margin-left: 20px; */
}
.linkNews{
  color: #d7a274;

}
.linkNews:hover{
  color: white;
  
}
.linkpost{
  display: inline-block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Assistant';
    color: #d7a274;
    text-transform: uppercase;
    text-decoration: none;
    /* margin-bottom: 20px; */
    margin-top: 20px;
}

.linkpost:hover{
color: white;
} 
.titleTest{
  margin-top: 30px;
}