.carousel-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
 
}

.carousel-wrapper img{
  max-width: 100%;
  width: 100%;
}
@media (min-width: 160px) and (max-width: 600px) {
  .carousel-wrapper img{
    height: 400px;
  }
}

.carousel .control-dots .dot{
  margin-bottom: 40px;
  width: 15px;
  height: 15px;
  border: none;
}
.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  background-color: #d7a274;
  border: none;
}
.arrow-pattern {
  position: absolute;
  /* bottom: -177px; */
  top: 97.2%;
  z-index: 999;
  width: 100%;

}
@media (min-width: 160px) and (max-width: 600px) {
  .arrow-pattern{
    top: 94%;
  }
}

.carousel .thumbs-wrapper, .carousel.carousel-slider .control-arrow, .carousel .carousel-status {
  
  display: none;
}
.content{
  z-index: 10000;
  position: absolute;
  width: 70%;
    text-align: center;
    margin: 0 auto;
    top: 33%;
    color: white;
    font-weight: 700;
    line-height: 1.2;
    /* padding-bottom: 40px; */
    left: 15%;
}
@font-face {
  font-family: "Playfair";
  src: url("../../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
.title{
  
  font-weight: 400;
  padding: 0 17px;
  font-size: 24px;
  display: block;
  /* font-family: "Playfair"; */
  /* margin-bottom: -58px; */
}
.slide_content{
  font-size: 78px;
  margin-bottom: 50px;
  font-family: "Playfair";
}
@media (min-width: 160px) and (max-width: 600px) {
  .slide_content{
    font-size: 50px;
  }
}